.rbc-event, .rbc-background-event {
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 2px 5px;
    background-color: #3173ad00;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 12px !important;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.form-label {
    margin-bottom: 0.5rem;
    font-size: 12px;
}
body {
    background-color: #ebf2fb;
}


  .selected {
   /* background-color: #4caf50;  Green color */
    color: white;
  /*   padding: 2px;*/
    border-radius: 5px;
  }


/* Media query for big screens */
@media screen and (min-width: 401px) {
    .bigscreen .truncate-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
  
  /* Media query for small screens */
  @media screen and (max-width: 400px) {
    .smallscreen .truncate-text {
      white-space: normal;
      overflow: visible;
      text-overflow: initial;
    }
    .popup {
     /* position: absolute;
      left: 50%;
      margin-top: 50%;
      transform: translate(-50%,-50%);
      background-color: #f7f7f7;
      color: #fff;
      width: 90%;
      max-width: 380px;
      max-height: 400px;
      padding: 20px;
      border-radius: 8px;
      z-index: 5000;
      color: #fff;
      border: 1px solid #9E9E9E; */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
  }
  }

/* Define styles for small screens */
@media (max-width: 600px) {
  .full-name {
    display: none; /* Hide full name on small screens */
  }
  
  .small-screen {
    display: inline; /* Display small screen content */
  }
  .rbc-btn-group {
    font-size: 9px;
  }
}

/* Define styles for big screens */
@media (min-width: 601px) {
  .full-name {
    display: inline; /* Display full name on big screens */
  }
  
  .small-screen {
    display: none; /* Hide small screen content on big screens */
  }
  .rbc-btn-group {
    font-size: 11px;
  }
}
.popup-inner {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 10000;
  min-height: 350px;
}