.rbc-event, .rbc-background-event {
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 2px 5px;
    background-color: #3173ad00;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 12px !important;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 12px;
}
body {
    background-color: #ebf2fb;
}
.popup {
    position: absolute;
    left: 50%;
    margin-top: -20%;
    transform: translate(-50%,-50%);
    background-color: #000;
    color: #fff;
    width: 80%;
    max-width: 400px;
    max-height: 300px;
    padding: 20px;
    border-radius: 8px;
    z-index: 5000;
    color: #fff;
    border: 1px solid #9E9E9E;
  }